* {
  box-sizing: border-box;
}

body {
  background-color: #FDF0D5;
  color: #3A3335;
  font-size: 62.5%;
  font-family: 'Work sans', sans-serif;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link {
  color: #A2100B;
}